:root {
  /* Variables for default theme (light-mode) */
  --background-color: #F5F5DC;
  --text-color: black;
  --text-color-inv: #e6e5e3;
  --background-color-inv: #011627;
}

[data-theme="🌛"] {
  /* Variables for dark mode */
  --background-color: #011627;
  --text-color: #e6e5e3;
  --text-color-inv: black;
  --background-color-inv: #F5F5DC;
}




body {
  margin: 0;
  font-family: "Pirata One";
  min-height: 100vh;
}


.layout-enter-active {
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active{
    opacity: 0;
}

.page-enter-active {
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active{
  opacity: 0;
}
