// COLORS:
$grey: #393939;
$dark-grey: #141414;
$dark-white: #e6e5e3;
$gold: #ffb900;
$brown: #4f341f;
$blue: #2baeff;
// CURSORS:
$cursor_classic: url(~/assets/images/cursor_classic.png), auto;
$cursor_pointer: url(~/assets/images/cursor_pointer.png), pointer;

