// COLORS:
$grey: #393939;
$dark-grey: #141414;
$dark-blue: #011627;
$dark-white: #e6e5e3;
$gold: #ffb900;
$brown: #5B3000;
$blue: #00A7E1;
$green: #8dc89a;
$beige: #F5F5DC;
// CURSORS:
$cursor_classic: url(~/assets/images/cursor_classic.png), auto;
$cursor_pointer: url(~/assets/images/cursor_pointer.png), pointer;

